:root {
  --font-quick: "Quicksand", sans-serif;
  --font-play: "Playfair", serif;
  --color-aside: #f2f3f7;
  --color-btn: #2c98f0;
  --color-hire: #f9c03f;
  --color-hire: #2c9bf4;
  --color-hire: #ec5453;
  --color-hire: #f7c03f;
  --color-hire: #a84cb7;
  --color-hire: #2fa599;
  --color-hire: #4055b2;
  --color-accent: #5d6875;
  --color-main: black;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html,
body {
  height: 100%;
}

body {
  max-width: 1200px;
  font-family: var(--font-play);
  font-size: 15px;
  width: 100%;
  position: relative;
}

/* aside sytling */
aside {
  width: 300px;
  background-color: var(--color-aside);
  font-family: var(--font-quick);
  position: fixed;
  top: 0;
  left: 8%;
  height: 100vh;
}

.pro__img img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.pro__des h2 {
  font-family: var(--font-play);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.pro__des h4 {
  font-weight: 400;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0.5rem;
}

.pro__des h4 a {
  text-decoration: none;
  color: var(--color-btn);
}

/* nav styling */
.nav__list {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.nav__list li {
  margin-bottom: 0.8rem;
  text-align: center;
}
.nav__list li a {
  text-decoration: none;
  color: var(--color-accent);
  font-weight: 500;
  position: relative;
  display: inline-block; /* makes width = text width */
  transition: all 0.3s ease;
}

/* underline matches text length */
.nav__list li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 1px;
  width: 0%; /* start hidden */
  transform: translateX(0);
  transform-origin: center;
  background-color: var(--color-btn);
  transition: all 0.3s ease;
}

/* hover animation */
.nav__list a:hover {
  color: var(--color-main);
  font-weight: 600;
}
.nav__list li a:hover::after {
  width: 100%; /* grows exactly equal to text width */
}

/* footer section */

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.7rem;
  color: var(--color-accent);
  padding-bottom: 3rem;
}

.footer h5 {
  font-weight: 400;
}

.fot__icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.8rem;
}

.fot__icon a {
  font-size: 1rem;
}
