:root {
  --font-quick: "Quicksand", sans-serif;
  --font-play: "Playfair", serif;
  --color-aside: #f2f3f7;
  --color-btn: #2c98f0;
  --color-hire: #f9c03f;
  --color-idea: #2c9bf4;
  --color-software: #ec5453;
  --color-application: #f7c03f;
  --color-graphic: #a84cb7;
  --color-software2: #2fa599;
  --color-application2: #4055b2;
  --color-accent: #5d6875;
  --color-main: black;
  --color-white: white;
  --color-hero: rgba(0, 0, 0, 0.308);
  --color-html: rgba(240, 101, 41, 1);
  --color-css: rgba(102, 51, 153, 1);
  --color-react: rgba(97, 219, 251, 1);
  --color-node: rgba(60, 135, 58, 1);
  --color-boot: rgba(96, 44, 80, 1);
  --color-vue: rgba(52, 73, 94, 1);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html,
body {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
body {
  /* max-width: 1200px; */
  font-family: var(--font-quick);
  font-size: 15px;
  /* width: 100%; */
  position: relative;
}

.layout {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
/* aside styling */
aside {
  width: 300px;
  min-width: 300px;
  background: var(--color-aside);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.pro__img img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.pro__des h2 {
  font-family: var(--font-play);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.pro__des h4 {
  font-weight: 400;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0.5rem;
}

.pro__des h4 a,
.hero__body p a {
  text-decoration: none;
  color: var(--color-btn);
}

/* nav styling */
.nav__list {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.nav__list li {
  margin-bottom: 0.8rem;
  text-align: center;
}
.nav__list li a {
  text-decoration: none;
  color: var(--color-accent);
  font-weight: 500;
  position: relative;
  display: inline-block; /* makes width = text width */
  transition: all 0.3s ease;
}

/* underline matches text length */
.nav__list li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 1px;
  width: 0%; /* start hidden */
  transform: translateX(0);
  transform-origin: center;
  background-color: var(--color-btn);
  transition: all 0.3s ease;
}

/* hover animation */
.nav__list a:hover {
  color: var(--color-main);
  font-weight: 600;
}
.nav__list li a:hover::after {
  width: 100%; /* grows exactly equal to text width */
}

/* footer section */

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.7rem;
  color: var(--color-accent);
  padding-bottom: 3rem;
}

.footer h5 {
  font-weight: 400;
}

.fot__icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.8rem;
}

.fot__icon a {
  font-size: 1rem;
}

/* main styling */
main {
  margin-left: 300px; /* same as aside width */
  width: calc(100% - 300px);
  height: 100vh;
  overflow-y: auto;
}

.container {
  padding: 0;
  margin: 0 auto;
  width: 100%;
}

/* hero styling */
.hero {
  background-image: url(./images/pexels-jplenio-1105379.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  z-index: 0;
  /* gap: 1.5rem; */
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--color-hero);
  z-index: 1;
}
.hero__body {
  width: 60%;
  margin-left: 1rem;
  z-index: 2;
}
.hero__body h1 {
  font-family: var(--font-play);
  font-size: 3rem;
  color: var(--color-white);
  margin-bottom: 1.5rem;
}

.hero__body p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: var(--color-white);
  font-family: var(--font-quick);
}

input[type="button"] {
  padding: 0.5rem 0.8rem;
  background: #2fa59900;
  border: 1px solid var(--color-white);
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
}

/* about section sytling */

.about,
.experieces {
  padding: 10rem 1rem;
}

.about h6,
.about h3,
.services h6,
.services h3,
.skills h6,
.skills h3,
.experieces h6,
.experieces h3,
.recent__work h6,
.recent__work h3,
.blog h6,
.blog h3,
.get__in h6,
.get__in h3 {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 0.6rem;
  padding-bottom: 1rem;
  letter-spacing: 7px;
}

.about h3,
.services h3,
.skills h3,
.experieces h3,
.recent__work h3,
.blog h3,
.get__in h3 {
  font-size: 2rem;
  padding-bottom: 3rem;
  color: var(--color-main);
  font-family: var(--font-play);
  font-weight: 400;
}

.about p,
.skills p {
  font-size: 1rem;
  line-height: 1.7rem;
  color: var(--color-accent);
  padding-bottom: 2rem;
}
.about p:last-child {
  padding-bottom: 0;
}

/* service grid sytling */

.service__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-top: 2rem;
}

.grid__body {
  padding: 2rem;
  font-size: 2.2rem;
  font-weight: 600;
  box-shadow: 0px 0px 10px 4px rgba(166, 159, 159, 0.75);
  -webkit-box-shadow: 0px 0px 10px 4px rgba(166, 159, 159, 0.75);
  -moz-box-shadow: 0px 0px 10px 4px rgba(166, 159, 159, 0.75);
  height: 150px;
}
.grid__body i {
  padding-bottom: 1.5rem;
}

.grid__body:nth-child(1) {
  border-bottom: 2px solid var(--color-idea);
}
.grid__body:nth-child(2) {
  border-bottom: 2px solid var(--color-software);
}
.grid__body:nth-child(3) {
  border-bottom: 2px solid var(--color-application);
}
.grid__body:last-child {
  border-bottom: 2px solid var(--color-graphic);
}

.grid__body:nth-child(1) i {
  color: var(--color-idea);
}
.grid__body:nth-child(2) i {
  color: var(--color-software);
}
.grid__body:nth-child(3) i {
  color: var(--color-application);
}
.grid__body:last-child i {
  color: var(--color-graphic);
}

/* hire me styling */

.hire__me {
  background-color: var(--color-hire);
  padding: 2rem;
  color: var(--color-main);
  margin-left: 1rem;
  margin-bottom: 12rem;
}

.hire__body {
  width: 60%;
}

.hire__body p {
  font-size: 2.5rem;
  font-family: var(--font-play);
  padding-bottom: 2rem;
}

.hire__body input[type="button"] {
  border: 1px solid var(--color-main);
  color: var(--color-main);
}

/* services styling */

.services {
  margin-left: 1rem;
  margin-bottom: 10rem;
}

.service__struc {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  row-gap: 80px;
  margin: 5rem 0;
  margin-bottom: 15rem;
}

.struc__body {
  padding: 2rem;
  padding-top: 5.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  text-align: center;
  border-bottom: 2px solid var(--color-btn);
}

.icon__div {
  width: 100px;
  height: 120px;
  background-color: var(--color-btn);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -50px;
  left: 33%;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  font-size: 2rem;
  color: var(--color-white);
}

.struc__body h4 {
  padding-bottom: 1.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.struc__body p {
  letter-spacing: 1px;
  color: var(--color-accent);
  font-weight: 500;
}

.struc__body:nth-child(2) {
  border-bottom: 2px solid var(--color-software);
}
.struc__body:nth-child(3) {
  border-bottom: 2px solid var(--color-application);
}
.struc__body:nth-child(4) {
  border-bottom: 2px solid var(--color-graphic);
}
.struc__body:nth-child(5) {
  border-bottom: 2px solid var(--color-software2);
}
.struc__body:last-child {
  border-bottom: 2px solid var(--color-application2);
}

.struc__body:nth-child(1) .icon__div {
  background-color: var(--color-btn);
}

.struc__body:nth-child(2) .icon__div {
  background-color: var(--color-software);
}

.struc__body:nth-child(3) .icon__div {
  background-color: var(--color-application);
}

.struc__body:nth-child(4) .icon__div {
  background-color: var(--color-graphic);
}

.struc__body:nth-child(5) .icon__div {
  background-color: var(--color-software2);
}

.struc__body:nth-child(6) .icon__div {
  background-color: var(--color-application2);
}
/* service info styling */

.service__info {
  background-image: url(./images/pexels-life-of-pix-7974.webp);
  background-position: center;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 0;
}
.service__info::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: var(--color-hero);
  z-index: 1;
}

.service__info__body {
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.info__des {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-size: 3rem;
  font-weight: 600;
  z-index: 2;
  gap: 20px;
}

.info__des p {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* skills styling */
.skills {
  margin: 0 1rem;
}

.skill__grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 50px;
}
.skill__body {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 20px;
}
.skill__body span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.skill__body span i {
  font-size: 1.5rem;
  color: var(--color-html);
}

.skill__body:nth-child(2) span i {
  color: var(--color-css);
}
.skill__body:nth-child(3) span i {
  color: var(--color-react);
}
.skill__body:nth-child(4) span i {
  color: var(--color-node);
}
.skill__body:nth-child(5) span i {
  color: var(--color-boot);
}
.skill__body:last-child span i {
  color: var(--color-vue);
}
.skill__body p {
  font-size: 1.3rem;
  color: var(--color-accent);
  font-weight: 500;
}

/* experiences styling */
.experieces h3 {
  margin-bottom: 3rem;
}

.exp__grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-left: 3rem;
}
.exp__des {
  padding: 2rem;
  background-color: var(--color-aside);
}
.exp__des h4 {
  font-size: 1.5rem;
  padding-bottom: 2rem;
  font-weight: 400;
}
.exp__des h4 span {
  font-size: 1rem;
  color: var(--color-accent);
  padding-left: 0.5rem;
}
.exp__des p {
  line-height: 1.5rem;
  color: var(--color-accent);
}

/* recent work styling */

.recent__work {
  margin-left: 1rem;
}

.recent__catalog {
  padding-bottom: 3rem;
}
.recent__catalog a {
  padding-right: 1rem;
  text-decoration: none;
  font-size: 1rem;
  font-family: var(--font-quick);
  font-weight: 500;
  color: var(--color-accent);
  transition: all 200ms ease;
}
.recent__catalog a:first-child {
  color: var(--color-btn);
}
.recent__catalog a:last-child {
  padding-right: 0;
}

/* work body styling */

.recent__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.work__body {
  height: 380px;
  width: 425px;
  color: var(--color-white);
  padding: 1.5rem;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  transition: all 0.3s ease;
  cursor: pointer;
}
.work__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  bottom: 1.5rem;
  left: 1.5rem;
}
.work__title,
.work__footer {
  z-index: 2;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.work__title h4 {
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
}
.work__title a {
  text-decoration: none;
}

.work__footer span {
  background-color: var(--color-aside);
  color: var(--color-accent);
  padding: 5px;
  border-radius: 3px;
  font-size: 14px;
}
.work__body:first-child {
  background-image: url(./images/cat1.png);
}
.work__body:nth-child(2) {
  background-image: url(./images/cat2.png);
}
.work__body:nth-child(3) {
  background-image: url(./images/cat3.png);
}
.work__body:nth-child(4) {
  background-image: url(./images/cat4.png);
}
.work__body:nth-child(5) {
  background-image: url(./images/cat5.png);
}
.work__body:last-child {
  background-image: url(./images/cat6.png);
}

.work__body::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-btn);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.work__body:hover::after {
  opacity: 0.9;
  visibility: visible;
}

.work__body:hover .work__title,
.work__body:hover .work__footer {
  opacity: 1;
  visibility: visible;
}

/* blog styling start here */
.blog {
  margin: 10rem 1rem;
}
.grid__blog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.blog__body {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.blog__img {
  width: 100%;
  overflow: hidden;
}
.blog__img img {
  width: 100%;
  transition: transform 250ms ease;
}
.blog__img img:hover {
  transform: scale(1.1);
}

.blog__header {
  font-size: 0.9rem;
  color: var(--color-accent);
  font-weight: 400;
}
.blog__title h3 {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  font-family: var(--font-quick);
}
.blog__post {
  color: var(--color-accent);
}

.load__more {
  margin-top: 5rem;
  width: 100%;
  background-color: var(--color-btn);
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
}
.load__more a {
  color: var(--color-white);
  text-decoration: none;
  letter-spacing: 2px;
}

/* get in styling */
.get__in {
  margin-bottom: 2rem;
  margin-inline: 1rem;
}

.get__in__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.get__left__body {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.left__email a,
.left__email p {
  color: var(--color-accent);
  font-size: 1rem;
  text-decoration: none;
}
.left__icon {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.left__icon i {
  font-size: 1.5rem;
  color: var(--color-btn);
}
.get__in__right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.get__in__right input,
.get__in__right textarea {
  width: 25rem;
  border: none;
  background-color: var(--color-aside);
  padding: 0.8rem;
}
.get__in__right input:focus,
.get__in__right textarea:focus {
  outline: 1px solid var(--color-btn);
}
.get__in__right input::placeholder,
.get__in__right textarea::placeholder {
  font-size: 0.9rem;
  color: var(--color-accent);
  font-family: var(--font-quick);
}
.get__in__right button {
  width: 50%;
  border: none;
  background-color: var(--color-btn);
  padding: 0.8rem 1.2rem;
  color: var(--color-white);
  font-size: 0.8rem;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 3px;
}
